[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
flask-cors = "*"
black = "*"
pylint = "*"
pycodestyle = "*"
pymongo = "*"
parameterized = "*"
aiohttp = "*"
pytest-asyncio = "*"
flask = {extras = ["async"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
